div.overlay,
div.underlay
{
    overflow: hidden;

    height: 0;

    -webkit-transition: opacity 500ms ease;
            transition: opacity 500ms ease;

    opacity: 0;
}
div.box:hover ~ div.overlay,
h1:hover ~ div.underlay,
div.overlay:hover
{
    height: 100%;

    opacity: 1;
}
div.underlay:hover
{
    height: 100%;

    opacity: 1;
}

body
{
    font-family: 'futura', arial;
}
header
{
    background: #333;
}
.fader
{
    position: relative;

    overflow: hidden;

    padding-top: 60%;
}

.fader .slide
{
    position: absolute;
    z-index: 1;
    top: 0;

    width: 100%;
    height: 100%;

    opacity: 0;
}

.fader img.slide
{
    height: auto;
}

.fader .prev,
.fader .next
{
    font-size: 100px;
    line-height: 55px;

    position: absolute;
    z-index: 4;
    top: 50%;
    left: 0;

    width: 50px;
    height: 80px;
    margin-top: -25px;

    cursor: pointer;
    transition: all 150ms;
    text-align: center;

    opacity: .7;
    color: #fff;
}

.fader .prev:hover,
.fader .next:hover
{
    opacity: 1;
}

.fader .next
{
    right: 0;
    left: auto;
}

.fader .pager_list
{
    line-height: 40px;

    position: absolute;
    z-index: 4;
    bottom: 0;

    width: 100%;
    height: 40px;

    text-align: center;
}

.fader .pager_list li
{
    display: inline-block;

    width: 15px;
    height: 15px;
    margin: 0 7px;

    cursor: pointer;
    transition: all 150ms;
    text-indent: -999px;

    opacity: .7;
    border-radius: 999px;
    background: #fff;
}

.fader .pager_list li:hover,
.fader .pager_list li.active
{
    opacity: 1;
}

.large-3
{
    height: 30em;
}
.asnt
{
    text-align: right;
}
#cssmenu > ul > .asnt
{
    float: right;

    color: #ddd;
}
#meatProducts,
#vegetableProducts,
#fruitProducts,
#soapProducts,
#clothProducts,
#detergentProducts,
#perfumesProducts,
#lotionProducts,
#facialProducts
{
    display: none;
}
