div.overlay,
div.underlay
{
    overflow: hidden;

    height: 0;

    -webkit-transition: opacity 500ms ease;
            transition: opacity 500ms ease;

    opacity: 0;
}
div.box:hover ~ div.overlay,
h1:hover ~ div.underlay,
div.overlay:hover
{
    height: 100%;

    opacity: 1;
}
div.underlay:hover
{
    height: 100%;

    opacity: 1;
}

body
{
    font-family: 'futura', arial;
}
header
{
        background: #4b4a46;
        margin-bottom: 2%;
}

.large-3
{
    height: 30em;
}
.asnt
{
    text-align: right;
}
#cssmenu > ul > .asnt
{
    float: right;

    color: #ddd;
}
#meatProducts,
#vegetableProducts,
#fruitProducts,
#soapProducts,
#clothProducts,
#detergentProducts,
#perfumesProducts,
#lotionProducts,
#facialProducts
{
    display: none;
}

.upper{
    text-align: center;
    background-color: whitesmoke;
}
.fa-lightbulb-o, .fa-search, .fa-shopping-cart{
    padding-top: 5%;
    color: #5db530;
}
.intro{
    padding-top: 2%;
    color: #757575;
    padding-bottom: 5%;
}





