/**
* VARIABLES
**/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
*
{
    box-sizing: border-box;
}
body
{
    font-family: 'Open Sans';
    font-size: 16px;

    background-color: #eee;
}
/**
* Title
**/
.title
{
    font-size: 45px;

    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    text-align: center;
    text-transform: uppercase;

    color: #5db530;
}
/**
* CARD
**/
.card
{
    position: relative;
    top: 235px;
    left: 50%;

    overflow: hidden;

    width: 100%;

    -webkit-transition: box-shadow .5s;
            transition: box-shadow .5s;
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0);
            transform: translateX(-50%) translateY(-50%) translateZ(0);

    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
}
.card a
{
    text-decoration: none;

    color: inherit;
}
.card:hover
{
    box-shadow: 0 0 50px rgba(0, 0, 0, .3);
}
/**
* DATE
**/
.card__date
{
    font-weight: 700;
    line-height: 13px;

    position: absolute;
    top: 20px;
    right: 20px;

    display: none;

    width: 45px;
    height: 45px;
    padding-top: 10px;

    text-align: center;

    color: #fff;
    border-radius: 50%;
    background-color: coral;
}
.card__date__day
{
    font-size: 14px;
}
.card__date__month
{
    font-size: 10px;

    text-transform: uppercase;
}
/**
* THUMB
**/
.card__thumb
{
    overflow: hidden;

    height: 245px;

    -webkit-transition: height .5s;
            transition: height .5s;

    background-color: #000;
}
.card__thumb img
{
    display: block;

    -webkit-transition: opacity .5s, -webkit-transform .5s;
            transition: opacity .5s, -webkit-transform .5s;
            transition: opacity .5s, transform .5s;
            transition: opacity .5s, transform .5s, -webkit-transform .5s;
    -webkit-transform: scale(1);
            transform: scale(1);

    opacity: 1;
}
.card:hover .card__thumb
{
    height: 130px;
}
.card:hover .card__thumb img
{
    -webkit-transform: scale(1.2);
            transform: scale(1.2);

    opacity: .6;
}
/**
* BODY
**/
.card__body
{
    position: relative;

    height: 185px;
    padding: 20px;

    -webkit-transition: height .5s;
            transition: height .5s;
}
.card:hover .card__body
{
    height: 300px;
}
.card__category
{
    font-size: 11px;
    line-height: 25px;

    position: absolute;
    top: -25px;
    left: 0;

    height: 25px;
    padding: 0 15px;

    text-transform: uppercase;

    color: #fff;
    background-color: #5db530;
}
.card__title
{
    font-size: 22px;
    font-weight: bold;

    margin: 0;
    padding: 0 0 10px 0;

    text-transform: uppercase;

    color: #000;
}
.card__subtitle
{
    font-size: 19px;

    margin: 0;
    padding: 0 0 10px 0;

    color: #5db530;
}
.card__description
{
    line-height: 27px;

    position: absolute;
    right: 20px;
    bottom: 56px;
    left: 20px;

    margin: 0;
    padding: 0;

    -webkit-transition: opacity .3s, -webkit-transform .3s;
            transition: opacity .3s, -webkit-transform .3s;
            transition: opacity .3s, transform .3s;
            transition: opacity .3s, transform .3s, -webkit-transform .3s;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
    -webkit-transform: translateY(45px);
            transform: translateY(45px);

    opacity: 0;
    color: #666c74;
}
.card:hover .card__description
{
    -webkit-transition-delay: .2s;
            transition-delay: .2s;
    -webkit-transform: translateY(0);
            transform: translateY(0);

    opacity: 1;
}
.card__footer
{
    font-size: 11px;

    position: absolute;
    right: 20px;
    bottom: 12px;
    left: 20px;

    color: #a3a9a2;
}
.icon
{
    font-size: 18px;

    display: inline-block;

    margin: -2px 0 0 2px;

    vertical-align: middle;
}
.icon + .icon
{
    padding-left: 10px;
}
.container__footer
{
    width: 100%;
    max-width: 100% !important;
    text-align: center;
    border-top: 5px solid #ececec;
    background: #4b4a46;
    height: 5em;
    padding-top: 2%;
}
footer a
{
    color: #5db530;
}
/*FULL*/
.mellow{
      text-align: center;
    border: 1px solid #757575;
   
}
.prices{
  border-right: 1px solid #757575;
  border-top: 1px solid #757575;
}
#fullCard{
      height: 36em;
}
